* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: url('book.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.content {
  margin-top: 400px;
}

form {
  margin-bottom: 10px;

}
.random a {
  color: white;
  font-size: 20px;
}

.random a:hover {
  text-decoration: none;
  color:#B8B8B8;
}

.searchresult {
  background-color: #606060;
  padding: 10px;
  margin-top: 10px;
}

.output {
  color: white;
}

.output ul,li {
  list-style: none;
  font-size: 20px;
}

.output a {
  font-weight: bold;
  color: white;
  font-size: 25px;
}

.output a:hover {
  text-decoration: none;
  color: black;
}



.hidden {
  display: none;
}
